{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block body %}
<div class="bloc_page_bodyg">
    {# le menu
    <div class="blocgau">
        {{ include("BaseNrohoBundle:Default:menu.html.twig") }}
    </div>
    #}
        <div class="nouveau1r1">
            <h3>Publie ton annonce</h3>
        </div>
        <div class="nouveau1i1">
            <img alt="proposer" src="{{ asset('bundles/basenroho/img/back_coordonee.jpg') }}">
	</div>
    <div class="sectiono">
        <div class="mt1">
            <div>
                <form method="post" {{ form_enctype(form) }}>
                    <div style="padding-left: 30px;">
                        <p class="nosautligne">
                            {% for child in form.type %}
                                {{ form_widget(child, {'attr': {'class': 'nosautligne'} }) }}
                                {{ form_label(child, null, {'label_attr': {'class': 'nosautligne'} }) }}
                                {{ form_errors(child) }}
                            {% endfor %}
                        </p>
                    </div>
                    <br /><br />
                    <div class="mt2">
                        <p>Mon trajet, départ, arrivée..</p>
                    </div>
                    <div class="nouveau7">
                        <fieldset>
                            <legend class="garlab">Infos sur le rendez-vous au DEPART :</legend>
                            <div class="mr7"> 
                                <div class="mr3">
                                    {{ form_label(form.depart, "Ville de départ") }}
                                    {{ form_errors(form.depart) }}
                                    {{ form_widget(form.depart) }}
                                </div>
                                <div class="mr3">
                                    {{ form_label(form.villea, "Lieu exact") }}
                                    {{ form_errors(form.villea) }}
                                    {{ form_widget(form.villea) }}
                                </div>
                                <div class="mr3">
                                    {{ form_label(form.date, "La date") }}
                                    {{ form_errors(form.date) }}
                                    {{ form_widget(form.date, { 'attr': { 'value': 'now'|date('d/m/Y') } }) }}
                                </div>
                                <div id="mir">
                                    <div class="mr3">
                                        {{ form_label(form.heure, "") }}
                                        {{ form_errors(form.heure) }}
                                        {{ form_widget(form.heure) }}
                                    </div>
                                    <div class="mr3">
                                        {{ form_label(form.vehicule, "Véhicule") }}
                                        {{ form_errors(form.vehicule) }}
                                        {{ form_widget(form.vehicule) }}
                                    </div> 
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="garlab">Lieu de dépose à l'ARRIVEE :</legend>
                            <div class="mr7">
                                <div class="mr3">
                                    {{ form_label(form.arrivee, "Ville d'arrivée") }}
                                    {{ form_errors(form.arrivee) }}
                                    {{ form_widget(form.arrivee) }}
                                </div>
                                <div class="mr3">
                                    {{ form_label(form.villeb, "Lieu exact") }}
                                    {{ form_errors(form.villeb) }}
                                    {{ form_widget(form.villeb) }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="mt2">
                        <p> Mes préférences : </p>
                    </div>
                    <div class="nouveau7">
                        <fieldset>
                            <legend class="garlab">Gros bagage ? Chien ? Pauses ? Tolérance retard ? Fumeur ?...</legend>
                            <div>
                                <div>
                                    <div class="mr3">
                                        {{ form_label(form.place, "") }}
                                        {{ form_errors(form.place) }}
                                        {{ form_widget(form.place) }}
                                    </div>
                                    <div class="mr3">
                                        {{ form_label(form.prix, "") }}
                                        {{ form_errors(form.prix) }}
                                        {{ form_widget(form.prix) }}
                                    </div>
                                </div>
                                <div id="mir2">
                                    <div>
                                        <p style="display: inline-block; float:left;">
                                            {{ form_label(form.fumer, "", {'label_attr': {'class': 'nosautligne'} }) }}
                                            {{ form_errors(form.fumer) }}
                                            {{ form_widget(form.fumer) }}
                                        </p>
                                    </div>
                                    <div>
                                        <p style="display: inline-block; float:left;">
                                            {{ form_label(form.musique, "", {'label_attr': {'class': 'nosautligne'} }) }}
                                            {{ form_errors(form.musique) }}
                                            {{ form_widget(form.musique) }}
                                        </p>
                                    </div>
                                    <div>
                                        <p style="display: inline-block; float:left;">
                                            {{ form_label(form.animal, "", {'label_attr': {'class': 'nosautligne'} }) }}
                                            {{ form_errors(form.animal) }}
                                            {{ form_widget(form.animal) }}
                                        </p>
                                    </div>
                                    <div>
                                        <p style="display: inline-block; float:left;">
                                            {{ form_label(form.blabla, "", {'label_attr': {'class': 'nosautligne'} }) }}
                                            {{ form_errors(form.blabla) }}
                                            {{ form_widget(form.blabla) }}
                                        </p>
                                    </div>
                                    {% if gender == '0' %}
                                    <div>
                                        <p style="display: inline-block; float:left;">
                                            {{ form_label(form.filles, "Entre filles", {'label_attr': {'class': 'nosautligne'} }) }}
                                            {{ form_errors(form.filles) }}
                                            {{ form_widget(form.filles) }}
                                        </p>
                                    </div>
                                    {% elseif gender == '1' %}
                                    <div style="display:none;">
                                        <p style="display: inline-block; float:left;">
                                            {{ form_label(form.filles, "Entre filles", {'label_attr': {'class': 'nosautligne'} }) }}
                                            {{ form_errors(form.filles) }}
                                            {{ form_widget(form.filles) }}
                                        </p>
                                    </div>
                                    {% endif %}
                                </div>
                                <div>
                                    <br /><br /><br />
                                    <legend class="garlab">Précisez : Gros bagage ? Chat ? Pauses ? Tolérance retard ?...</legend>
                                    {{ form_label(form.message, " ") }}
                                    {{ form_errors(form.message) }}
                                    {{ form_widget(form.message) }}
                                </div>
                                <div>
                                    <div>
                                        <legend class="garlab">Catégorie du trajet</legend>
                                        <p>
                                            {% for child in form.categorie %}
                                                {{ form_label(child, null, {'label_attr': {'class': 'nosautligne'} }) }}
                                                {{ form_errors(child) }}
                                                {{ form_widget(child, {'attr': {'class': 'nosautligne'} }) }}
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <br /><br />
                                    <div>
                                        <legend class="garlab">Fréquence du trajet</legend>
                                        <p style="display: inline-block; float:left;">
                                            <label style="display: inline-block; float:left;">Trajet unique</label>
                                            <input type="radio" name="maj" value="0" checked
                                                   onclick="getElementById('trajet').style.display='none';" />
                                        </p>
                                        <p style="display: inline-block; float:left;">
                                            <label style="display: inline-block; float:left;">Trajet régulier</label>
                                            <input type="radio" name="maj" value="1"
                                                   onclick="getElementById('trajet').style.display='block';" />
                                        </p>
                                    </div>
                                    <br /><br /><br />
                                    <div id="trajet" style="display:none;">
                                        <div>
                                            {% for child in form.jours %}
                                                {{ form_label(child, null, {'label_attr': {'class': 'nosautligne'} }) }}
                                                {{ form_errors(child) }}
                                                {{ form_widget(child, {'attr': {'class': 'nosautligne'} }) }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    {{ form_rest(form) }}
                    <div class="mr2">
                        <div class="mr6">
                            <input class="trouvezzz" name="valider" type="submit" value="Je publie"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>	
</div>
{% endblock %}

{% block javascripts %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="{{ asset('bundles/basenroho/js/datepicker_fr.js') }}"></script>
{% endblock %}
