{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block body %}
<div class="bloc_page_bodyg">
    {# le menu
    <div class="blocgau">
        {{ include("BaseNrohoBundle:Default:menu.html.twig") }}
    </div>
    #}
    <div class="menucompty">
        <div class="menucompto">
            <div class="contenu1">
                <h2>
                    Ajouter un trajet
                </h2>
            </div>
        </div>	
        <div class="sectionaq">
            <div class="demcon">
                <h6>Nouveau trajet</h6>
            </div>
            <div class="mt1">
                <form method="post" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}
                    <div class="nouvio">
                        <p>
                            {{ form_label(form.type, " ") }}
                            {{ form_errors(form.type) }}
                            {{ form_widget(form.type) }}
                        </p>
                    </div>
                    <div class="mt2">
                        <p>Mon trajet, départ, arrivée..</p>
                    </div>
                    <div class="nouveau7">
                        <fieldset>
                            <legend class="garlab">Infos sur le rendez-vous au DEPART :</legend>
                            <div class="mr7"> 
                                <div class="mr3">
                                    {{ form_label(form.depart, "Ville de départ") }}
                                    {{ form_errors(form.depart) }}
                                    {{ form_widget(form.depart) }}
                                </div>
                                <div class="mr3">
                                    {{ form_label(form.villea, "Lieu exact") }}
                                    {{ form_errors(form.villea) }}
                                    {{ form_widget(form.villea) }}
                                </div>
                                <div class="mr3">
                                    {{ form_label(form.date, "") }}
                                    {{ form_errors(form.date) }}
                                    {{ form_widget(form.date) }}
                                </div>
                                <div id="mir">
                                    <div class="mr3">
                                        {{ form_label(form.heure, "") }}
                                        {{ form_errors(form.heure) }}
                                        {{ form_widget(form.heure) }}
                                    </div>
                                    <div class="mr3">
                                        {{ form_label(form.vehicule, "Véhicule") }}
                                        {{ form_errors(form.vehicule) }}
                                        {{ form_widget(form.vehicule) }}
                                    </div> 
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="garlab">Lieu de dépose à l'ARRIVEE :</legend>
                            <div class="mr7">
                                <div class="mr3">
                                    {{ form_label(form.arrivee, "Ville d'arrivée") }}
                                    {{ form_errors(form.arrivee) }}
                                    {{ form_widget(form.arrivee) }}
                                </div>
                                <div class="mr3">
                                    {{ form_label(form.villeb, "Lieu exact") }}
                                    {{ form_errors(form.villeb) }}
                                    {{ form_widget(form.villeb) }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="mt2">
                        <p> Mes préférences : </p>
                    </div>
                    <div class="nouveau7">
                        <fieldset>
                            <legend class="garlab">Gros bagage ? Chien ? Pauses ? Tolérance retard ? Fumeur ?...</legend>
                            <div class="mr7">
                                <div class="mr3y">
                                    <div class="mr3">
                                        {{ form_label(form.place, "") }}
                                        {{ form_errors(form.place) }}
                                        {{ form_widget(form.place) }}
                                    </div>
                                    <div class="mr3">
                                        {{ form_label(form.prix, "") }}
                                        {{ form_errors(form.prix) }}
                                        {{ form_widget(form.prix) }}
                                    </div>
                                </div>
                                <div class="mr3z" id="mir2">
                                    <div class="mr3">
                                        <p class="garlabo">
                                            {{ form_label(form.fumer, "") }}
                                            {{ form_errors(form.fumer) }}
                                            {{ form_widget(form.fumer) }}
                                        </p>
                                    </div>
                                    <div class="mr3">
                                        <p class="garlabo">
                                            {{ form_label(form.musique, "") }}
                                            {{ form_errors(form.musique) }}
                                            {{ form_widget(form.musique) }}
                                        </p>
                                    </div>
                                    <div class="mr3">
                                        <p class="garlabo">
                                            {{ form_label(form.animal, "") }}
                                            {{ form_errors(form.animal) }}
                                            {{ form_widget(form.animal) }}
                                        </p>
                                    </div>
                                    <div class="mr3">
                                        <p class="garlabo">
                                            {{ form_label(form.blabla, "") }}
                                            {{ form_errors(form.blabla) }}
                                            {{ form_widget(form.blabla) }}
                                        </p>
                                    </div>
                                    <div class="mr3">
                                        <p class="garlabo">
                                            {{ form_label(form.filles, "") }}
                                            {{ form_errors(form.filles) }}
                                            {{ form_widget(form.filles) }}
                                        </p>
                                    </div>
                                </div>
                                <div class="mr3i">
                                    {{ form_label(form.message, "Précisez : Gros bagage ? Chat ? Pauses ? Tolérance retard ?...") }}
                                    {{ form_errors(form.message) }}
                                    {{ form_widget(form.message) }}
                                </div>
                                <div class="mr3z">
                                    <div class="nouvio">
                                        <p>
                                            {{ form_label(form.categorie, "Catégorie du trajet") }}
                                            {{ form_errors(form.categorie) }}
                                            {{ form_widget(form.categorie) }}
                                        </p>
                                    </div>
                                    <div class="nouvio">
                                        <p>
                                            <input type="radio" name="maj" value="0" checked 
                                            onclick="getElementById('trajet').style.display='none';" />Trajet unique
                                        </p>
                                        <p>
                                            <input type="radio" name="maj" value="1" 
                                            onclick="getElementById('trajet').style.display='block';" />Trajet régulier
                                        </p>
                                    </div>
                                    <div class="mr3" id="trajet" style="display:none;">
                                        {{ form_label(form.jours, " ") }}
                                        {{ form_errors(form.jours) }}
                                        {{ form_widget(form.jours) }}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    {{ form_rest(form) }}
                    <div class="mr2">
                        <div class="mr6">
                            <input class="trouvezzz" name="valider" type="submit" value="Je publie"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>	
</div>
{% endblock %}

{% block javascripts %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="{{ asset('bundles/basenroho/js/datepicker_fr.js') }}"></script>
{% endblock %}
