<div class="headg">
    <div class="heama">
        <img src="{{ asset('bundles/basenroho/img/test.jpg') }}" alt=""/>
    </div>
    <div class="hqui">
        <a href="#"><h2>Nadir</h2></a>
        <a href="#"><h3>Mon profil</<h3></a>
    </div>
</div>

<div class="menucompte">
    <nav class="menuinf">
        <ul>
            <li><a href="{{ url('nroho_base_message') }}"><img src="{{ asset('bundles/basenroho/icon/message.png') }}" alt=""/> Messages</a></li>
            <li><a href="{{ url('nroho_base_demande') }}"><img src="{{ asset('bundles/basenroho/icon/ami.png') }}" alt=""/> Demandes</a></li>
            <li><a href="{{ url('nroho_base_annonce') }}"><img src="{{ asset('bundles/basenroho/icon/trajet.png') }}" alt=""/> Trajets</a></li>
            <li><a href="{{ url('nroho_base_ajout') }}"><img src="{{ asset('bundles/basenroho/icon/plus.png') }}" alt=""/> Ajouter</a></li>
            <li><a href="{{ url('nroho_base_recherche') }}"><img src="{{ asset('bundles/basenroho/icon/chercher.png') }}" alt=""/> Trouver</a></li>
            <li><a href="{{ url('nroho_base_aide') }}"><img src="{{ asset('bundles/basenroho/icon/help.png') }}" alt=""/> Aide</a></li>
        </ul>
    </nav>
</div>
