{% extends "::Base.html.twig" %}

{% block body %}
<div class="n10load">
    {#
    <div class="blocgau">
        {{ include("BaseNrohoBundle:Default:menu.html.twig") }}
    </div>
    #}
    <div class="menucompte1">
        <div class="menucompte2">
            <nav class="menuinf1">
                <ul>
                    
                    {% for data in product %}
                    <li>
                        <div class="echangi3">
                            {% if data.gender == 0 %}
                                <img src="{{ asset('bundles/basenroho/img/rose_nroho_covoiturage_algerie.png') }}">
                            {% else %}
                                <img src="{{ asset('bundles/basenroho/img/moustache_nroho_covoiturage_algerie.png') }}">
                            {% endif %}
                        </div>
                        <a href="#" id="{{ data.user_id }}" class="recup_id" onclick="return false;">
                            {{ data.secondename }}
                            {# dump(data) #}
                        </a>
                            {{ data.depot|date('d/m/Y') }}
                    </li>
                    {% endfor %}
                    
                </ul>
            </nav>
        </div>
        <div class="contenu2">
            <h2 id="msgway">
                Messagerie
            </h2>
            <nav class="menuinf2" id="msglist">
                <li>
                    <div class="echangi3">
                        <img src="{{ asset('bundles/basenroho/img/rose_nroho_covoiturage_algerie.png') }}">
                    </div>
                    <div class="echangi3r"> 
                        <a href="#">Karim</a>
                            4 Juin
                    </div>
                    <div class="echangi3r">
                        <p>	
                            30 petites secondes pour vous permettre de prendre une meilleure décision que si vous aviez passé des heures 
                            à chercher sur la toile. 30 secondes pour ranger sur votre écran les informations triées de tous covoitureurs. 
                            Et de tous ceux que vous ne connaissiez pas encore.
                        </p>
                    </div>
                </li>
            </nav>
            <form class="contenu4" method="post" action="#" id="msgsub">	
                <div class="detaily">
                    <div class="publiyo">
                        <div class="commesg">
                            <div class="textary">
                                <textarea onFocus="if (this.value=='Votre réponse...') this.value=''"class="textaro" name="message" id="ville" placeholder="Votre réponse...">Votre réponse...</textarea>
                            </div>
                            <input class="ccabirati" name="mail" type="text" size="35" value=""/>
                        </div>
                        <div class="publio">
                            <div class="boutina">
                                <input class="publiera" name="valider" type="submit" value="Répondre"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/basenroho/js/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".recup_id").on("click", function(){
        var id = this.id;
        //alert(id);
        var result = "";
        var route = "{{ path('nroho_base_message_lecture', { 'id': "111" }) }}";
        var url = route.replace("111", id);
        var idd, ways;
        $.ajax({
            type: "POST",
            url: url,
            contentType: 'application/json',
            cache: false,
            success: function(json){
                var jsonn = JSON.parse( json );
                var lid = "";
                console.log(jsonn);
                if (jsonn !== null){
                    lili = "";
                    for (var i = 0; i < jsonn.length; i++){
                        result += '\
                            <li>\
                                <div class="echangi3">\
                                    <img src="{{ asset('bundles/basenroho/img/rose_nroho_covoiturage_algerie.png') }}">\
                                </div>\
                                <div class="echangi3r">\
                                    <a href="#">'+ jsonn[i].user.secondename +'</a>\
                                        '+ jsonn[i].depot.substr(0,10) +'\
                                </div>\
                                <div class="echangi3r">\
                                    <p>\
                                        '+ jsonn[i].message +'\
                                    </p>\
                                </div>\
                            </li>';
                        ways = jsonn[i].product.depart.substr(5)+' -> '+jsonn[i].product.arrivee.substr(5);
                        if(jsonn[i].user.id === jsonn[i].product.user) idd = jsonn[i].distId; else idd = jsonn[i].product.user;
                    }
                    var bouton = '\
                    <div class="detaily">\
                        <div class="publiyo">\
                            <div class="commesg">\
                                <div class="textary">\
                                    <textarea class="textaro" name="message" placeholder="Votre réponse...">Votre réponse...</textarea>\
                                </div>\
                                <input class="ccabirati" name="mail" type="text" size="35" value=""/>\
                            </div>\
                            <div class="publio">\
                                <div class="boutina">\
                                    <input name="idd" type="hidden" value="'+ idd +'">\
                                    <input class="publiera" name="valider" type="submit" value="Répondre"/>\
                                </div>\
                            </div>\
                        </div>\
                    </div>';
                    $("#msgway").html(ways);
                    $("#msglist").html(result);
                    $("#msgsub").html(bouton);
                }
            }
        });
    });
});
</script>
{% endblock %}