{% extends "::base.html.twig" %}

{% block body %}
<div class="bloc_page_bodyg">
    <!--
    <div class="foc_1">
        <img src="{{ asset('bundles/basenroho/img/700_250_campus.png') }}"/>
        <div class="detailform">
            <div class="detai1">
            </div>
            <div class="detai1">
            </div>
            <div class="detai2">
            </div>
        </div>
    </div>
    -->
    {% for data in user %}
    <div class="detail1r1">
        <h3>
            {% if data.gender == 1 %}
                Conducteur
            {% elseif data.gender == 0 %}
                Conductrice
            {% endif %}				
        </h3>
    </div>
    <div class="detail1i1">
        <div class="detailima">
            <div class="detail3">
                {% if data.gender == 1 %}
                    <img src="{{ asset('bundles/basenroho/img/moustache_nroho_covoiturage_algerie.png') }}" alt="covoiturage Moustache"/>
                {% elseif data.gender == 0 %}
                    <img src="{{ asset('bundles/basenroho/img/rose_nroho_covoiturage_algerie.png') }}" alt="covoiturage Rose"/>
                {% endif %}
            </div>
            <div class="detaizinfo">
                <p class="detailnom">
                    <strong>{{ data.secondename }}</strong>
                </p>
                <div class="detailop">
                    <p>&nbsp;<img src="{{ asset('bundles/basenroho/img/birthday.png') }}" alt=""/>{{ "now"|date('Y') - data.born }} ans {% if voiture != 0 %}<img src="{{ asset('bundles/basenroho/img/car.png') }}" alt=""/>{{ voiture }}{% endif %}
                    {% if app.user.id == id %}
                        <div class="nouveau101">
                            <h4>&nbsp;&nbsp;&nbsp;<img src="{{ asset('bundles/basenroho/img/phone.png') }}" alt=""/>&nbsp;{{ data.phone }}</h4>
                        </div>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% if app.user.id == id %}
        <div class="detailimo">
            <div class="dezaili1">
                <div class="misa1" style="padding-top: 15px; padding-right: 14px;">
                    <a class="openModal" href="{{ path('nroho_base_profil_id', { 'id': id } ) }}">Modifier</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <!--
    <div class="blocde">
        <h6>Ma voiture</h6>
        <center>
            <p>Le type de la voiture</p>
            <img src="{{ asset('bundles/basenroho/img/petite-voiture.png') }}" alt="covoiturage algerie nroho" style="max-width: 200px;" />
        </center>
    </div>
    -->
    <!-- Permis de conduire -->
    {% for data in user %}
        {% if app.user.id == id %}
            {% if data.permis == null or data.permis.etat == '0' %}
                <div class="detailono">
                    <div class="publiy">
                        <div class="comail">
                            <form method="post" {{ form_enctype(form_permis) }}>
                                {{ form_widget(form_permis) }}
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if data.permis != null and data.permis.etat == '1' %}
            <div class="detailono">
                <div class="publiy">
                    <div class="comail" style="padding-bottom: 15px;">
                        Le permis a été validé par notre équipe.<img style="padding-left: 9cm;" src="{{ asset('bundles/basenroho/img/valider.png') }}" alt="Amis">
                    </div>
                </div>
            </div>
        {% elseif data.permis != null and data.permis.etat == '2' %}
            <div class="detailono">
                <div class="publiy">
                    <div class="comail">
                        Le permis est en cours de validation.
                    </div>
                </div>
            </div> 
        {% endif %}
    {% endfor %}
    <!-- Fin Permis de conduire -->
    
    <!-- Mes trajets -->
    {% if nbrw > 0 %}
    <div class="blocde">
        <h6>Mes derniers trajets</h6>
        {% for data in ways %}
            <div class="nouveau1">
                <div class="nouvie1">
                    <p>{{ data.depart|striptags|slice(5) }} {% if data.villea != "" %} ({{ data.villea }}) {% endif %}</p>
                </div>
                <div class="nouvie2">
                    <img src="{{ asset('bundles/basenroho/img/fleche_2.png') }}" alt="vers"/>
                </div>
                <div class="nouvie1">
                    <p>{{ data.arrivee|striptags|slice(5) }} {% if data.villeb != "" %} ({{ data.villeb }}) {% endif %}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Fin mes trajets -->
    
    <!--
    <div class="blocde">
        <h6>Avis</h6>
        <p>Il y n'a pas encore d'avis.</p>
    </div>
    -->
    
    <!-- les commentaires -->
    {% if nbra != 0 %}
    <div class="detailono">
        <div class="publiy">
            <div class="comail">
                <h3>Avis sur le conducteur</h3>
                <div class="reponsi">             
                    <p>
                        {% for data in avis %}
                        <div class="reponsi">
                            <div class="echangi">
                                {% if data.emo == 1 %}
                                    <img class="ihe" src="{{ asset('bundles/basenroho/img/emo1_small.png') }}" alt="Amis" style="float:right;">
                                {% elseif data.emo == 2 %}
                                    <img class="ihe" src="{{ asset('bundles/basenroho/img/emo2_small.png') }}" alt="Amis" style="float:right;">
                                {% elseif data.emo == 3 %}
                                    <img class="ihe" src="{{ asset('bundles/basenroho/img/emo3_small.png') }}" alt="Amis" style="float:right;">
                                {% endif %}
                                <div class="echangi3">
                                    {% if data.user.gender == 0 %}
                                        <img src="{{ asset('bundles/basenroho/img/rose_nroho_covoiturage_algerie.png') }}"/>
                                    {% else %}
                                        <img src="{{ asset('bundles/basenroho/img/moustache_nroho_covoiturage_algerie.png') }}"/>
                                    {% endif %}
                                </div>
                                <div class="echangi4">
                                    <div class="echangi1">
                                        <p><a href="#">{{ data.user.secondename }}</a>{{ data.avis }}</p>
                                    </div>
                                    <div class="echangi2">
                                        <p>Le {{ data.depot|date('d/m/Y à h:i') }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>	
    </div>
    {% endif %}
    <!-- fin des commentaires -->

    {% if av!= 0 and id != app.user.id %}
    <!-- debut avis -->     
        <div class="blocde">
            <h6>Déposez un avis</h6>
            <form method="post" {{ form_enctype(form) }}> 
                {{ form_errors(form) }}
                1. Votre humeur sur ce covoitureur ?
                <div style="text-align: center;">
                    <a id="smily1" class="adb" onclick="return false;" href="" style="text-decoration:none;">
                        <img class="ihepg" src="{{ asset('bundles/basenroho/img/emo1.png') }}" alt="Amis">
                    </a>
                    <a id="smily2" class="adb" onclick="return false;" href="" style="text-decoration:none;">
                        <img class="ihepg" src="{{ asset('bundles/basenroho/img/emo2.png') }}" alt="Amis">
                    </a>
                    <a id="smily3" class="adb" onclick="return false;" href="" style="text-decoration:none;">
                        <img class="ihepg" src="{{ asset('bundles/basenroho/img/emo3.png') }}" alt="Amis">
                    </a>
                </div>
                <div class="cibero" style="display:none">
                    2. Votre avis 
                    <div>
                        {{ form_label(form.avis, " ") }}
                        {{ form_errors(form.avis) }}
                        {{ form_widget(form.avis) }}
                    </div>
                    {{ form_rest(form) }}
                    <div class="publio">
                        <div class="boutin">
                            <input class="publier" type="submit" name="valide_avis" value="Envoyer"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- fin avis -->
    {% endif %}
            
    <!--
    <div class="blocde">
        <h6>Signalez</h6>
    </div>
    -->
            
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $(".adb").on('click', function(){
        $("#base_nrohobundle_avis_emo").val(this.id.substr(5));
        $(".cibero").slideDown();
    });
});
</script>
{% endblock %}
