<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="Description" content="Le site de covoiturage en Algérie. nroho.com, pour moins de pollution, moins d'embouteillage, moins de frais, et plus de sorties... " />
        <meta name="Keywords" content="covoiturage, algerie, co, voiturage, algérie, dinars, coovoiturage, premier, site, voyage, gratuit, transport, ecologique, voiture, economique" />
        
        {% block stylesheets %}
            <link  type="text/css" rel="stylesheet" href="{{ asset('bundles/basenroho/css/style.css') }}" />
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}nroho.com | Le site de covoiturage en Algérie{% endblock %}</title>
        
    </head>
    <body>
        {% block head %}
        <div class="bloc_page_entete_22">
            <div id="bloc_page_entete">
                <div class="bloc_page_entete_1">
                    <a href="{{ url('nroho_base_default') }}"><img src="{{ asset('bundles/basenroho/img/logo-nroho_44.png') }}" alt="logo de nroho.com" id="logoo"/></a>
                </div>
                <div class="bloc_page_entete_2">
                    <nav class="entete3">
                        
                        {% if is_granted("ROLE_USER") %}
                            <a href="{{ path('nroho_base_profil', { 'id': app.user.id }) }}">{{ app.user.secondename|title }}</a>
                            <a href="{{ path('nroho_base_add') }}">Ajouter un trajet</a>
                            <a href="{{ path('nroho_base_annonce') }}">Mes trajets</a>
                            <a href="{{ path('nroho_base_message') }}">Messages</a>
                            <a href="{{ path('nroho_base_demande') }}">Demandes</a>
                            <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                            
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                        {% endif %}
                        <a href="{{ path('nroho_base_aide') }}">Aide</a>
                    </nav>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block foot %}
        <div class="bloc_page_footer33">	
            <div id="bloc_page_footer3">
                <a href="{{ url('nroho_base_default') }}">À propos de nous</a> | Copyright © 2013 <a href="{{ url('nroho_base_default') }}">nroho.com</a> 
            </div>
        </div>
        {% endblock %}
    </body>
</html>
