{% extends "::base.html.twig" %}

{% block body %}
<div class="n10load">
    {#
    <div class="blocgau">
        {{ include("BaseNrohoBundle:Default:menu.html.twig") }}
    </div>
    #}
    <div class="nouveau101">
        <h3>
            Les messages
        </h3>
    </div>
    {% if nbrM == 0 %}
    <div class="sectiono">
        <div class="mt1">
            <center><p>Vous n'avez pas encore reçu de message.</p></center>
        </div>
    </div>
    {% else %}
    <div class="menucompte1">
        <div class="menucompte2">
            <nav class="menuinf1">
                <ul>
                    {% for data in product %}
                    <li>
                        <div class="echangi3">
                            {% if data.gender == 0 %}
                                <img src="{{ asset('bundles/basenroho/img/rose_nroho_covoiturage_algerie.png') }}">
                            {% else %}
                                <img src="{{ asset('bundles/basenroho/img/moustache_nroho_covoiturage_algerie.png') }}">
                            {% endif %}
                        </div>
                        <a href="#" id="{{ data.user_id }}/{{ data.product_id }}" class="recup_id" onclick="return false;">
                            {{ data.secondename }}
                        </a>
                            {{ data.depot|date('d/m/Y') }}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="contenu2">
            <h2 id="msgway" style="text-align: center;">
                Bienvenue sur votre messagerie
            </h2>
            <nav class="menuinf2" id="msglist">
                <center><iframe style="border:0;" width="360" height="202" src="//www.youtube.com/embed/Wqpx66bYvIw" allowfullscreen></iframe></center><br />
            </nav>
            <form class="contenu4" method="post" action="#" id="msgsub" style="display:none">	
                <div class="detaily">
                    <div class="publiyo">
                        <div class="commesg">
                            <div class="textary">
                                <textarea onFocus="if (this.value=='Votre réponse...') this.value=''" class="textaro" name="message" id="msg" placeholder="Votre réponse..."></textarea>
                            </div>
                            <input class="ccabirati" name="mail" type="text" size="35" value=""/>
                        </div>
                        <div class="publio">
                            <div class="boutina">
                                <input class="publiera" name="valider" type="submit" value="Répondre"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/basenroho/js/jquery-1.11.1.min.js') }}"></script>
{# <script type="text/javascript" src="http://localhost:1338/socket.io/socket.io.js"></script> #}
<script type="text/javascript">
$(document).ready(function(){
    var IntervalMessage;
    var timeOutMessage = 0;
    $(".recup_id").on("click", function(){
        clearInterval(IntervalMessage);
        if (timeOutMessage !== 0) clearTimeout(timeOutMessage);
        var idt = this.id;
        var idd, ways, url2, idp;
        var reg = new RegExp("[ ,;/]+", "g");
        var tableau = idt.split(reg);
        for (var i=0; i<tableau.length; i++) {
            if(i===0) id = tableau['0']; else if(i===1) idp = tableau['1'];
        }
        var profil = "{{ path('nroho_base_profil', { 'id': "111" }) }}";
        var result = "";
        var route1 = "{{ path('nroho_base_message_lecture', { 'id': "111", 'product': "222" }) }}"; // ajouter id du produit
        var url1 = route1.replace("111", id);
        var url2 = url1.replace("222", idp);
        $.ajax({
            type: "POST",
            url: url2,
            contentType: 'application/json',
            cache: false,
            success: function(jsonn){
                var json = JSON.parse( jsonn );
                //console.log(json);
                if (json !== null){
                    //alert(json);
                    for (var i = 0; i < json.length; i++){
                        var profill = profil.replace("111", json[i].message.userDist);
                        if(json[i].user.gender === 1) 
                            url2 = "{{ asset('bundles/basenroho/img/moustache_nroho_covoiturage_algerie.png') }}";
                        else
                            url2 = "{{ asset('bundles/basenroho/img/rose_nroho_covoiturage_algerie.png') }}";
                        result += '\
                            <li>\
                                <div class="echangi3">\
                                    <img src="'+ url2 +'">\
                                </div>\
                                <div class="echangi3r">\
                                    <a href="'+ profill +'">'+ json[i].user.secondename +'</a>\
                                        '+ json[i].depot.substr(0,10) +'\
                                </div>\
                                <div class="echangi3r">\
                                    <p>\
                                        '+ nl2br(json[i].message, true) +'\
                                    </p>\
                                </div>\
                            </li>';
                        ways = json[i].product.depart.substr(5)+' <div class="nouvie2"><img src="{{ asset('bundles/basenroho/img/fleche_2.png') }}" alt="vers"/></div> '+json[i].product.arrivee.substr(5);
                        if( json[i].user.id == {{ app.user.id }} ) idd = json[i].user_dist.id; else idd = json[i].user.id;
                        var product_id = json[i].product.id;
                    }
                    var bouton = '\
                    <div class="detaily">\
                        <div class="publiyo">\
                            <div class="commesg">\
                                <div class="textary">\
                                    <textarea class="textaro" name="message" id="msg" placeholder="Votre réponse..."></textarea>\
                                </div>\
                                <input class="ccabirati" name="mail" type="text" size="35" value=""/>\
                            </div>\
                            <div class="publio">\
                                <div class="boutina">\
                                    <input class="publiera" onclick="return false;" name="valider" type="submit" value="Répondre"/>\
                                </div>\
                            </div>\
                        </div>\
                    </div>';
                    result += '<div id="msgajax"></div>';
                    $("#msgway").html(ways);
                    $("#msglist").html(result);
                    $("#msgsub").html(bouton);
                    $("#msgsub").show();
                    // message en instantané
                    /*
                    IntervalMessage = setInterval( function(){
                        if (timeOutMessage !== 0) clearTimeout(timeOutMessage);
                        timeOutMessage = setTimeout("refreshMessage("+id+","+idp+")", 4000);
                    }, 7000);
                    */
                    //clearInterval(IntervalMessage);
                }
                $(".publiera").on("click", function(){
                    var msg  = nl2br($("#msg").val());
                    var message;
                    var route3 = "{{ path('nroho_base_message_submit', { 'id': "111", 'product': "222", 'msg': "333" }) }}";
                    var url3 = route3.replace("111", idd);
                    var url4 = url3.replace("222", product_id);
                    var url5 = url4.replace("333", msg);
                    $.ajax({
                        type: "POST",
                        url: url5,
                        contentType: 'application/json',
                        cache: false,
                        success: function(json){
                            if(json === 'ok'){
                                message = '\
                                <li>\
                                    <div class="echangi3">\
                                        {% if app.user.gender == 0 %}\
                                            <img src="{{ asset('bundles/basenroho/img/rose_nroho_covoiturage_algerie.png') }}">\
                                        {% else %}\
                                            <img src="{{ asset('bundles/basenroho/img/moustache_nroho_covoiturage_algerie.png') }}">\
                                        {% endif %}\
                                    </div>\
                                    <div class="echangi3r">\
                                        <a href="#">{{ app.user.secondename }}</a>\
                                            {{ "now"|date("d/m/Y") }}\
                                    </div>\
                                    <div class="echangi3r">\
                                        <p>\
                                            '+ msg +'\
                                        </p>\
                                    </div>\
                                </li>';
                                $("#msgajax").append(message);
                                $("#msg").val("");
                            }
                        }
                    });
                });
            }
        });
    }); 
});

function nl2br(str, is_xhtml) {
  //   example 1: nl2br('Kevin\nvan\nZonneveld');
  //   returns 1: 'Kevin<br />\nvan<br />\nZonneveld'
  //   example 2: nl2br("\nOne\nTwo\n\nThree\n", false);
  //   returns 2: '<br>\nOne<br>\nTwo<br>\n<br>\nThree<br>\n'
  //   example 3: nl2br("\nOne\nTwo\n\nThree\n", true);
  //   returns 3: '<br />\nOne<br />\nTwo<br />\n<br />\nThree<br />\n'

  var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>'; // Adjust comment to avoid issue on phpjs.org display

  return (str + '')
    .replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
}

// La boucle des messages "actualisation"
function refreshMessage(id, idp)
{
    //alert(id);
    var profil  = "{{ path('nroho_base_profil', { 'id': "111" }) }}";
    var url2    = "{{ path('nroho_base_message_lecture_last', { 'id': "111", 'product': "222" }) }}";
    var url1    = url2.replace("111", id);
    var url     = url1.replace("222", idp);
    var result;
    //var = ways;
    $.ajax({
        type        : "POST",
        url         : url,
        contentType : 'application/json',
        cache       : false,
        success     : function(jsonn){
            var json = JSON.parse( jsonn );
            //console.log(json);
            if (json !== null){
                //alert(json);
                for (var i = 0; i < json.length; i++){
                    var profill = profil.replace("111", json[i].message.userDist);
                    if(json[i].user.gender === 1) 
                        url2 = "{{ asset('bundles/basenroho/img/moustache_nroho_covoiturage_algerie.png') }}";
                    else
                        url2 = "{{ asset('bundles/basenroho/img/rose_nroho_covoiturage_algerie.png') }}";
                    result += '\
                        <li>\
                            <div class="echangi3">\
                                <img src="'+ url2 +'">\
                            </div>\
                            <div class="echangi3r">\
                                <a href="'+ profill +'">'+ json[i].user.secondename +'</a>\
                                    '+ json[i].depot.substr(0,10) +'\
                            </div>\
                            <div class="echangi3r">\
                                <p>\
                                    '+ nl2br(json[i].message, true) +'\
                                </p>\
                            </div>\
                        </li>';
                    {# //ways = json[i].product.depart.substr(5)+' <div class="nouvie2"><img src="{{ asset('bundles/basenroho/img/fleche_2.png') }}" alt="vers"/></div> '+json[i].product.arrivee.substr(5); #}
                    if(json[i].user.id == {{ app.user.id }}) idd = json[i].user_dist.id; else idd = json[i].user.id;
                    var product_id = json[i].product.id;
                }
                
                result += '<div id="msgajax"></div>';
                //$("#msgway").html(ways);
                $("#msglist").empty().html(result);
            }
        }
    });
    //setTimeout("refreshMessage("+id+","+idp+")",7000);
}

/*
$(document).ready(function(){
    var socket = io.connect('http://localhost:1338/');
    socket.emit('recupe');
    socket.on('allo', function(data){
        alert(data);
    });
    
});
*/
</script>
{% endblock %}
