{% extends "::base.html.twig" %}

{% block body %}
<div class="bloc_page_bodyg">
    {#
    <div class="blocgau">
        {{ include("BaseNrohoBundle:Default:menu.html.twig") }}
    </div>
    #}
    <div class="n10load">
        <div class="nouveau101">
            <h3>
                Validation des annonces
            </h3>
        </div>
        {% for data in product %}
        <div class="sectionaq">
            <div class="choirc1">
                <div class="detrc">
                    <div class="nouvie3">
                        <img src="{{ asset('bundles/basenroho/img/homme_1.jpg') }}"/><!-- <img src="../../public/images/femme_1.jpg"/> -->
                    </div>
                    <p class="prixnuit">
                        Conducteur
                        <br/>
                        <strong>{{ data.user.secondename }}</strong>
                    </p>
                </div>
                <div class="destrcco">
                    <div class="detrc">
                        <p><img src="{{ asset('bundles/basenroho/img/birthday_small.png') }}" alt=""/>&nbsp;{{ "now"|date('Y') - data.user.born }} ans</p>
                    </div>
                    <div class="detrc"> 
                    </div>
                    <div class="detrc">
                        <p><img src="{{ asset('bundles/basenroho/img/car_small.png') }}" alt=""/>&nbsp;{{ data.vehicule }}</p>
                    </div>
                </div>
                <div class="opicon">
                    {% if data.fumer==1 %}
                        <div class="nouvie2"><img src="{{ asset('bundles/basenroho/img/accepte_fumeur.png') }}" alt="covoiturage non fumeur"/></div>
                    {% else %}
                        <div class="nouvie2"><img src="{{ asset('bundles/basenroho/img/cigarette.png') }}" alt="covoiturage non fumeur"/></div>                               
                    {% endif %}

                    {% if data.musique==1 %}
                        <div class="nouvie2"><img src="{{ asset('bundles/basenroho/img/accepte_musique.png') }}" alt="covoiturage pas de musique"/></div>
                    {% else %}
                        <div class="nouvie2"><img src="{{ asset('bundles/basenroho/img/musique.png') }}" alt="covoiturage pas de musique"/></div>
                    {% endif %}

                    {% if data.animal==1 %}
                        <div class="nouvie2"><img src="{{ asset('bundles/basenroho/img/accepte_animaux.png') }}" alt="covoiturage sans animaux"/></div>
                    {% else %}
                        <div class="nouvie2"><img src="{{ asset('bundles/basenroho/img/mouton.png') }}" alt="covoiturage sans animaux"/></div>
                    {% endif %}

                    {% if data.blabla==1 %}
                        <div class="nouvie2"><img src="{{ asset('bundles/basenroho/img/gosra.png') }}" alt="covoiturage sans animaux"/></div>
                    {% endif %}
                </div>
            </div>
            <div class="rc">
                <div class="nouveau1">
                    <div class="nouvie1">
                        <p>{{ data.depart|striptags|slice(5) }} {% if data.villea != "" %} ({{ data.villea }}) {% endif %}</p>
                    </div>
                    <div class="nouvie2">
                        <img src="{{ asset('bundles/basenroho/img/fleche_2.png') }}"/>
                    </div>
                    <div class="nouvie1">
                        <p>{{ data.arrivee|striptags|slice(5) }} {% if data.villeb != "" %} ({{ data.villeb }}) {% endif %}</p>
                    </div>
                </div>
                <div class="nouveau2">
                    <article>
                        <h1>Le {{ data.date|date("d/m/Y") }} à {{ data.heure }}</h1>
                        <p>{{ data.message }}</p>
                    </article>
                </div>
            </div>
            <div class="choirc">
                <div class="detrc">
                    <p class="prixnuito">
                        <strong>{{ data.prix }}</strong> Dinars
                    </p>
                </div>
                <div class="detrc1">
                    <p><strong>{{ data.place }}</strong><br/>libres</p>
                </div>
                {% if data.filles==1 %}
                <div class="detrc1p">
                    Entre Elles
                </div>
                {% endif %}
            </div>
        </div>
        <div class="supprimer">
            <p><a href="{{ path('nroho_admin_annonce_no',  { 'id': data.id }) }}" onclick="return confirm('Voulez-vous vraiment supprimer cette annonce ?');">Refuser</a></p>
            <p><a href="{{ path('nroho_admin_annonce_yes', { 'id': data.id }) }}">Valider</a></p>
        </div>
        {% endfor %}
        <div class="nouveau101">
            <h3>
                Validation du permis de conduire
            </h3>
        </div>
        {% for data in permis %}
        <div class="sectionaq">
            {% if data.alt %}
                <img src="{{ asset(data.getWebPath()) }}" style="max-width: 700px; display: block; margin: 0 auto;"/>
            {% else %}
                Pas d'image de profil chargée !
            {% endif %}
        </div>
        <div class="supprimer">
            <p><a href="{{ path('nroho_admin_permis_no',  { 'id': data.id }) }}">Refuser</a></p>
            <p><a href="{{ path('nroho_admin_permis_yes', { 'id': data.id }) }}">Valider</a></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
