{% extends "::base.html.twig" %}

{% block body %}
<div class="bloc_page_bodyg">
    {#
    <div class="blocgau">
        {{ include("BaseNrohoBundle:Default:menu.html.twig") }}
    </div>
    #}
    <div class="n10load">
        <div class="nouveau101">
            <h3>
                Les réservations
            </h3>
        </div>
        <!-- debut -->
        {% for data in reservation %}
        <div class="sectionaq">
            <div class="demcon">
                <h6>Réservation</h6>
                <div class="plosa">
                    <div class="nouvie3">
                        {% if data.user.gender == 1 %}
                            <img src="{{ asset('bundles/basenroho/img/homme_1.jpg') }}"/>
                        {% else %}
                            <img src="{{ asset('bundles/basenroho/img/femme_1.jpg') }}"/>
                        {% endif %}
                    </div>
                    <p class="prixnuit">
                        {% if data.user.gender == 1 %} Passager {% else %} Passagère {% endif %}
                        <br/>
                        <strong><a href="{{ path('nroho_base_profil',  { 'id': data.user.id }) }}">{{ data.user.secondename }}</a></strong>
                    </p>
                </div>
                <div class="choirc">
                    <p class="ploso">
                        <strong>{{ data.nombre }}</strong> place(s)
                    </p>
                </div>
            </div>
        </div>
        <div class="supprimer">
            {% if data.etat == 2 %}
                <p><a href="{{ path('nroho_base_demande_no', { 'id': data.id }) }}" onclick="return confirm('Voulez-vous vraiment supprimer cette annonce ?');">Refuser</a></p>
                <p><a href="{{ path('nroho_base_demande_yes',  { 'id': data.id }) }}">Accepter</a></p>
            {% elseif data.etat == 1 %}
                <p><a href="{{ path('nroho_base_Demande_cancel',  { 'id': data.id }) }}" onclick="return confirm('Voulez-vous vraiment annuller cette demande de réservation?');">Annuler</a></p>
                <p>Acceptée</p>    
            {% elseif data.etat == 0 %}
                <p>Refusée</p>
            {% endif %}
        </div>
        {% endfor %}
        <!-- fin -->
        <!--
        <div class="sectionaq">
            <div class="demcon">
                <h6>Demandes</h6>
                <div class="plosa">
                    <div class="nouvie3">
                        <img src="{{ asset('bundles/basenroho/img/homme_1.jpg') }}"/>
                    </div>
                    <p class="prixnuit">
                        Conducteur<br/><strong>Karim</strong>
                    </p>
                </div>
                <div class="choirc">
                    <p class="ploso">
                        <strong>2</strong> places Acceptés
                    </p>
                </div>
            </div>
        </div>
        <div class="supprimer">
            <p><a href="#" onclick="return confirm('Voulez-vous vraiment supprimer cette annonce ?');">Annuler</a></p>
        </div> 
        -->
    </div>
    <div class="n10load">
        <div class="nouveau101">
            <h3>
                Mes demandes
            </h3>
        </div>
        <!-- debut -->
        {% for data in product %}
        <div class="sectionaq">
            <div class="demcon">
                <h6>Demande</h6>
                <div class="plosa">
                    <div class="nouvie3">
                        {% if data.product.user.gender == 1 %}
                            <img src="{{ asset('bundles/basenroho/img/homme_1.jpg') }}" alt=""/>
                        {% else %}
                            <img src="{{ asset('bundles/basenroho/img/femme_1.jpg') }}" alt=""/>
                        {% endif %}
                    </div>
                    <p class="prixnuit">
                        {% if data.product.user.gender == 1 %} Conducteur {% else %} Conductrice {% endif %}
                        <br/>
                        <strong><a href="{{ path('nroho_base_profil',  { 'id': data.product.user.id }) }}">{{ data.product.user.secondename }}</a></strong>
                        
                        
                        
                    </p>
                </div>
                <div class="choirc" style="width : 27%;">
                    <p class="ploso">
                        <strong>{{ data.nombre }}</strong> place(s)
                    </p>
                    {% if data.etat == 1 %}
                        <div class="nouveau101">
                            <h4><img src="{{ asset('bundles/basenroho/img/phone.png') }}" alt=""/>&nbsp;{{ data.product.user.phone }}</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="supprimer">
            {% if data.etat == 3 %}
                <p>Annulée</p>
            {% elseif data.etat == 2 %}
                <p><a href="{{ path('nroho_base_Demande_cancel',  { 'id': data.id }) }}" onclick="return confirm('Voulez-vous vraiment annuller cette demande de réservation?');">Annuler</a></p>
                <p>En attente</p>
            {% elseif data.etat == 1 %}
                <p>Acceptée</p>    
            {% elseif data.etat == 0 %}
                <p>Refusée</p>
            {% endif %}
        </div>
        {% endfor %}
        <!-- fin -->
        <!--
        <div class="sectionaq">
            <div class="demcon">
                <h6>Demandes</h6>
                <div class="plosa">
                    <div class="nouvie3">
                        <img src="{{ asset('bundles/basenroho/img/homme_1.jpg') }}"/>
                    </div>
                    <p class="prixnuit">
                        Conducteur<br/><strong>Karim</strong>
                    </p>
                </div>
                <div class="choirc">
                    <p class="ploso">
                        <strong>2</strong> places Acceptés
                    </p>
                </div>
            </div>
        </div>
        <div class="supprimer">
            <p><a href="#" onclick="return confirm('Voulez-vous vraiment supprimer cette annonce ?');">Annuler</a></p>
        </div> 
        -->
    </div>
</div>

{% endblock %}
